<footer class="row contact-col">
  <div class="col-md-4 links">
    <h4>友情链接:</h4>
    <ul>
      <li>
        <a href="http://www.taidu8.com.cn/" target="_blank">态度8</a>
      </li>
      <li>
        <a href="http://e.weibo.com/km100" target="_blank">微博</a>
      </li>
      <li>
        <a href="http://www.777ccc.com" target="_blank">安卓网</a>
      </li>
      <li>
        <a href="http://www.liqucn.com/" target="_blank">历趣网</a>
      </li>
      <li>
        <a href="http://www.appying.com/" target="_blank">APP运营精读</a>
      </li>
      <li>
        <a href="http://news.appying.com/" target="_blank">APP移动运营</a>
      </li>
      <li>
        <a href="http://xunbao.amap.com/" target="_blank">高德道路寻宝</a>
      </li>
      <li>
        <a href="http://www.enochina.cn/" target="_blank">以诺访问员招聘网</a>
      </li>
    </ul>
  </div>
  <div class="col-md-3 copyright">
    <h4>版权信息</h4>
    <div>
      <p>京ICP备12038410号-5</p>
      <p>版权声明：中国兵器工业集团版权所有</p>
    </div>
  </div>
  <div class="col-md-3 contact">
    <h4>联系我们</h4>
    <div>
      <p>Tel：010-82253312-8004</p>
      <p>Mail:<a href="mailto:ysnlvlqw@msn.com"> yaoshining@msn.com</a></p>
      <p>微信群二维码： 自助服务充电站（如右图）</p>
    </div>
  </div>
  <div class="col-md-2 qr-code">
    <img src="../assets/images/demo/qr_code.png" />
  </div>
</footer>