.contact-col {
  margin: 0 auto;
  padding: 20px 50px;
  color: #777777;
  font-size: 12px;
  height: 200px;
}
.contact-col div[class^=col-] {
  padding: 0 30px 0 0;
  height: 200px;
}
.links > ul {
  list-style: none;
  padding: 0;
}
.links > ul > li {
  float: left;
  margin-right: 20px;
  margin-bottom: 5px;
}
.links a {
  color: #777777;
}
.copyright p,.contact p {
  margin-top: 0;
  margin-bottom: 5px;
}
.links > h4,.copyright > h4,.contact > h4 {
  margin-bottom: 20px;
  color: #222222;
}
.qr-code > img {
  width: 100%;
}
