<div class="ability">
    <div class="ability-image">
        <img src="../assets/images/demo/abilities/600094_151012101835.jpg" width="170" height="110" />
    </div>
    <div class="ability-text">
        <div class="ability-title">车底扫描系统</div>
        <div class="ability-desc">车底扫描系统是新一代安全监控检查设备系统，是利用先进科学技术针对利用汽车底盘藏匿夹带爆炸物、毒品、走私品、间谍设备等违禁物品的行为进行检查的最佳手段。对恐怖、贩毒、走私、间谍等违法行为形成有效威慑和直..</div>
        <div class="ability-others">
            <span class="orange">北京航星机器制造有限公司</span>
            <span class="pull-right">发布时间：2015-10-12</span>
        </div>
    </div>
</div>
<div class="ability">
    <div class="ability-image">
        <img src="../assets/images/demo/abilities/600094_151012100157.jpg" width="170" height="110" />
    </div>
    <div class="ability-text">
        <div class="ability-title">移动安检工作站</div>
        <div class="ability-desc">移动安检车是新一代移动安全监控检查设备，适用于人流量大、人员密集的广场等大型活动场所，在特定时间、特定地点对通过的人员及随身携带的箱包进行安全检查。安全检查设备全部集成在车辆里面，可以实现快速移动，快..</div>
        <div class="ability-others">
            <span class="orange">北京航星机器制造有限公司</span>
            <span class="pull-right">发布时间：2015-10-12</span>
        </div>
    </div>
</div>
<div class="ability">
    <div class="ability-image">
        <img src="../assets/images/demo/abilities/600139_151010220338.jpg" width="170" height="110" />
    </div>
    <div class="ability-text">
        <div class="ability-title">多种体制微波雷达制导系统性能测试与评估服务</div>
        <div class="ability-desc">北京控制与电子技术研究所射频仿真试验室是服务于多种体制微波雷达制导系统性能测试与评估需求的大型综合性试验设施，具有宽频带、高精度、大视场角、多通道特点，拥有多类型目标、环境及干扰模拟设备，可实现射频回..</div>
        <div class="ability-others">
            <span class="orange">北京控制与电子技术研究所</span>
            <span class="pull-right">发布时间：2015-10-10</span>
        </div>
    </div>
</div>
<div class="ability">
    <div class="ability-image">
        <img src="../assets/images/demo/abilities/600162_151009164044.jpg" width="170" height="110" />
    </div>
    <div class="ability-text">
        <div class="ability-title">光纤惯性测量组合</div>
        <div class="ability-desc">产品可以接入GPS信号进行数据融合，具有精度高，动态性能好、全姿态工作、实时性强、抗干扰强等特点。其接口采用模块化设计，接口输出形式多样，使用对接方便，可拓展为惯导。</div>
        <div class="ability-others">
            <span class="orange">湖北三江航天红峰控制有限公司</span>
            <span class="pull-right">发布时间：2015-10-09</span>
        </div>
    </div>
</div>
<div class="ability">
    <div class="ability-image">
        <img src="../assets/images/demo/abilities/2570307_150929140125.jpg" width="170" height="110" />
    </div>
    <div class="ability-text">
        <div class="ability-title">空间信息综合应用服务平台</div>
        <div class="ability-desc">空间信息综合应用服务平台（SISP）以“整合·共享·创新·服务”为理念，针对特定行业特定用户提供私有云环境的空间信息应用与服务解决方案。空间信息综合应用服务平台结合了虚拟化、分布式文件系统、大表索引等..</div>
        <div class="ability-others">
            <span class="orange">北京机电工程研究所</span>
            <span class="pull-right">发布时间：2015-09-29</span>
        </div>
    </div>
</div>