<style shim-shadow>
    .widget-list {
        list-style: none;
        padding: 0;
    }
    .widget-list-item {
        margin: 10px 0;
    }
    .widget-list-item > a {
        color: white;
        font-size: 16px;
        letter-spacing: 1px;
    }
    .carousel-caption {
        font-size: 18px;
        left: 5%;
        right: 320px;
        text-align: left;
    }
    .carousel-caption > h4 {
        font-size: 36px;
    }
    .navbar-nav > li > a.btn {
        color: #ffffff;
    }
    .carousel-indicators li,.carousel-indicators li.active {
        margin: 5px;
    }
    .carousel-indicators {
        bottom: 10px;
    }
</style>

<div class="slide-container animated fadeInUpLight">
    <div nq-carousel hoverStop="false" outer-width="100%" inner-height="100%" effect="slide-left-right" style="height: 100%">
        <div carousel-item>
            <!--<h3 class="carousel-title">Crousel Title 1</h3>-->
            <div style="height: 100%;background-image: url('../assets/images/demo/bg/0.png');background-size: cover"></div>
            <div class="carousel-caption">
                <h4>我们有一个改变世界的梦想.</h4>
                这听起来有些难以置信,但是只要你已经认识到没有什么是不可能的就行.
            </div>
        </div>
        <div carousel-item>
            <!--<h3 class="carousel-title">Crousel Title 3</h3>-->
            <div style="height: 100%;background-image: url('../assets/images/demo/bg/5.jpg');background-size: cover"></div>
            <div class="carousel-caption">
                <h4>This is the cation of the carousel item 3</h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
        <div carousel-item>
            <!--<h3 class="carousel-title">Crousel Title 1</h3>-->
            <div style="height: 100%;background-image: url('../assets/images/demo/bg/1.jpg');background-size: cover"></div>
            <div class="carousel-caption">
                <h4>This is the cation of the carousel item 1</h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
        <div carousel-item>
            <!--<h3 class="carousel-title">Crousel Title 2</h3>-->
            <div style="height: 100%;background-image: url('../assets/images/demo/bg/3.jpg');background-size: cover"></div>
            <div class="carousel-caption">
                <h4>This is the cation of the carousel item 2</h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
        <div carousel-item>
            <!--<h3 class="carousel-title">Crousel Title 3</h3>-->
            <div style="height: 100%;background-image: url('../assets/images/demo/bg/4.jpg');background-size: cover"></div>
            <div class="carousel-caption">
                <h4>This is the cation of the carousel item 3</h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
    </div>
    <div style="position: absolute;right: 0;top: 0;bottom: 0;width: 300px;background-color: rgba(0,0,34,.7);color: #ffffff">
        <div style="display: inline-block;width: 100%;height: 50%;padding: 10px 20px">
            <h4><i class="fa fa-list-alt fa-fw"></i> 创新快报</h4>
            <hr style="border-color: #19A9E5" />
            <ul class="widget-list">
                <li class="widget-list-item">
                    <a href>“互联网+”三大趋势</a>
                </li>
                <li class="widget-list-item">
                    <a href>发力“互联网+“，航天科工..</a>
                </li>
                <li class="widget-list-item">
                    <a href>江西航天云网开启航天科工“..</a>
                </li>
                <li class="widget-list-item">
                    <a href>他山之石：博世如何在中国实..</a>
                </li>
                <li class="widget-list-item">
                    <a href>概念释疑：究竟什么是智慧云..</a>
                </li>
                <li class="widget-list-item">
                    <a href>喜讯：航天智慧云制造入围工..</a>
                </li>
            </ul>
        </div>
        <div style="display: inline-block;width: 100%;height: 50%;padding: 10px 20px">
            <h4><i class="fa fa-delicious fa-fw"></i> 创意服务</h4>
            <hr style="border-color: #19A9E5" />
        </div>
    </div>
</div>
