<style shim-shadow>
    .cnigc-col {
        height: 100%;
        padding: 20px 40px;
        list-style: none;
        display: block;
        margin: 0;
    }
    .cnigc-col .cnigc-item {
        height: 50%;
        text-align: center;
        padding: 20px;
    }
    .cnigc-item > .circle {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        line-height: 90px;
    }
    .cnigc-item > .circle > .fa {
        font-size: 50px;
        vertical-align: middle;
    }
    .circle {
        border-radius: 50%;
        text-align: center;
        color: white;
    }
</style>
<div class="slide-container">
    <ul class="row cnigc-col">
        <li class="cnigc-item col-md-4">
            <div class="circle bg-blue">
                <i class="fa fa-lock fa-fw"></i>
            </div>
            <h3>街头拦访</h3>
            <p>用离线调查软件拍拍赚做街头拦访项目，省去场地租金。可根据实时上传的动态数据，现场进行追问，帮助企业快速、高效决策。同时，实时灵活控制配额。</p>
        </li>
        <li class="cnigc-item col-md-4">
            <div class="circle bg-aqua">
                <i class="fa fa-envelope fa-fw"></i>
            </div>
            <h3>产品留置</h3>
            <p>用手机调查软件拍拍赚做留置项目，基于真实使用场景的跟踪记录，全程拍照记录使用过程，不仅大大节省了印刷等成本，企业可以在后台同步看到照片记录内容，执行周期也大大缩短。</p>
        </li>
        <li class="cnigc-item col-md-4">
            <div class="circle bg-purple">
                <i class="fa fa-wrench fa-fw"></i>
            </div>
            <h3>陪同购物</h3>
            <p>用离线调查软件拍拍赚做陪同购物项目，以情景重现的方式记录产品购买过程，从自身需求和关注点出发，发现并记录具有吸引力的产品、产品设计元素或亮点，通过消费者持续的跟踪记录，发现新产品发展趋势。</p>
        </li>
        <li class="cnigc-item col-md-4">
            <div class="circle bg-navy">
                <i class="fa fa-book fa-fw"></i>
            </div>
            <h3>铺货检查</h3>
            <p>用免费调查软件拍拍赚检查终端渠道铺货，支持离线答题，全国同时展开，无地域限制。照片下方自动标注的GPS定位地址及系统云端时间，实现每个网店数据都有图有真相，客观诊断终端铺货情况。</p>
        </li>
        <li class="cnigc-item col-md-4">
            <div class="circle bg-maroon">
                <i class="fa fa-briefcase fa-fw"></i>
            </div>
            <h3>市场推广</h3>
            <p>某电商平台用移动端软件拍拍赚做市场推广，发动企业自有业务员+拍拍赚会员，搜集线下店铺信息，向实体店店主介绍平台概况，并帮助店主直接入驻。</p>
        </li>
        <li class="cnigc-item col-md-4">
            <div class="circle bg-orange">
                <i class="fa fa-cloud fa-fw"></i>
            </div>
            <h3>街头拦访</h3>
            <p>某电商平台用移动端软件拍拍赚做市场推广，发动企业自有业务员+拍拍赚会员，搜集线下店铺信息，向实体店店主介绍平台概况，并帮助店主直接入驻。</p>
        </li>
    </ul>
</div>