<style shim-shadow>
    .collab-col {
        padding: 0 50px;
        position: absolute;
        top: 198px;
        bottom: 30px;
        left: 0;
        width: 100%;
    }
    .collab-col > div[class^=col-] {
        height: 50%;
        padding: 20px 20px 20px 100px;
        cursor: pointer;
    }
    .collab-col > div[class^=col-]:hover {
        background-color: #F6F7F8;
    }
    .collab-col > div[class^=col-] > img {
        position: absolute;
        width: 70px;
        height: 70px;
        left: 20px;
        top: 50%;
        margin-top: -35px;
    }
    .collab-col > div[class^=col-] > p {
        color: #777777;
        font-size: 16px;
    }
</style>
<div class="slide-container">
    <h1 style="text-align: center;width: 700px;margin: 60px auto;font-weight: 400;height: 78px">
        简简单单交代事情，明明白白接受信息，你值得尝试的工作交流方式
    </h1>
    <div class="collab-col">
        <div class="col-lg-4 col-sm-4 col-xs-4">
            <img src="../assets/images/angular.png" />
            <h3>项目首页</h3>
            <p>无需租赁场地，搭建wifi，也无需担心网络信号是否任性。离线答题功能，让答题环境不再受限，处处可答题。</p>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-4">
            <img src="../assets/images/babel.png" />
            <h3>任务首页</h3>
            <p>答题过程中可以随时暂停，再次打开问卷，从上次暂停处继续答题。断点续答功能。</p>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-4">
            <img src="../assets/images/bootstrap.png" />
            <h3>文件首页</h3>
            <p>支持多种离线复杂逻辑，轻松实现多重跳答、引用逻辑。</p>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-4">
            <img src="../assets/images/jasmine.png" />
            <h3>文件首页</h3>
            <p>支持多种离线复杂逻辑，轻松实现多重跳答、引用逻辑。</p>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-4">
            <img src="../assets/images/node-sass.png" />
            <h3>项目首页</h3>
            <p>无需租赁场地，搭建wifi，也无需担心网络信号是否任性。离线答题功能，让答题环境不再受限，处处可答题。</p>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-4">
            <img src="../assets/images/gulp.png" />
            <h3>任务首页</h3>
            <p>答题过程中可以随时暂停，再次打开问卷，从上次暂停处继续答题。断点续答功能。</p>
        </div>
    </div>
</div>