<style shim-shadow>
    .parallax {
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: relative;
        background-position: 50% 0;
        margin-top: 30px;
        height: calc(100% - 200px - 30px);
    }
    .contact-col {
        width: 1000px;
        margin: 0 auto;
        padding: 20px 0;
        color: #777777;
        font-size: 12px;
        height: 200px;
    }
    .contact-col div[class^=col-] {
        padding: 0 30px 0 0;
        height: 200px;
    }
    .links > ul {
        list-style: none;
        padding: 0;
    }
    .links > ul > li {
        float: left;
        margin-right: 20px;
        margin-bottom: 5px;
    }
    .links a {
        color: #777777;
    }
    .copyright p,.contact p {
        margin-top: 0;
        margin-bottom: 5px;
    }
    .links > h4,.copyright > h4,.contact > h4 {
        margin-bottom: 20px;
        color: #222222;
    }
    .qr-code > img {
        width: 100%;
    }
</style>
<div class="slide-container">
    <div class="parallax" style="background-image: url(../assets/images/demo/bg/parallax.jpg);background-size: cover" parallax-background parallax-ratio="0.5"></div>
    <div class="row contact-col">
        <div class="col-md-4 links">
            <h4>友情链接:</h4>
            <ul>
                <li>
                    <a href="http://www.taidu8.com.cn/" target="_blank">态度8</a>
                </li>
                <li>
                    <a href="http://e.weibo.com/km100" target="_blank">拍拍赚微博</a>
                </li>
                <li>
                    <a href="http://www.777ccc.com" target="_blank">安卓网</a>
                </li>
                <li>
                    <a href="http://www.liqucn.com/" target="_blank">历趣网</a>
                </li>
                <li>
                    <a href="http://www.appying.com/" target="_blank">APP运营精读</a>
                </li>
                <li>
                    <a href="http://news.appying.com/" target="_blank">APP移动运营</a>
                </li>
                <li>
                    <a href="http://xunbao.amap.com/" target="_blank">高德道路寻宝</a>
                </li>
                <li>
                    <a href="http://www.enochina.cn/" target="_blank">以诺访问员招聘网</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 copyright">
            <h4>版权信息</h4>
            <div>
                <p>京ICP备12038410号-5</p>
                <p>版权声明：天津拍拍赚科技有限公司版权所有</p>
            </div>
        </div>
        <div class="col-md-3 contact">
            <h4>联系我们</h4>
            <div>
                <p>Tel：010-82253312-8004</p>
                <p>Mail:ppz_cs@126.com</p>
                <p>微信群二维码： 自助服务充电站（如右图）</p>
            </div>
        </div>
        <div class="col-md-2 qr-code">
            <img src="../assets/images/demo/qr_code.png" />
        </div>
    </div>
</div>