<div class="slide-container">
    <!--<div class="slide-header">
        <h4 class="slide-title">创新空间</h4>
    </div>-->
    <ul class="creativity-col">
        <li class="col-lg-4 col-md-4 col-sm-4" ui-sref="creativity.projects">
            <div class="creativity-title">
                <img src="../assets/images/demo/icons/responsive-icon.png">
                <h4>找项目</h4>
            </div>
            <div class="creativity-info">
                <h4>找项目</h4>
                <p>
                    无需租赁场地，搭建wifi，也无需担心
                    网络信号是否任性。离线答题功能，
                    让答题环境不再受限，处处可答题。
                </p>
            </div>
        </li>
        <li class="col-lg-4 col-md-4 col-sm-4">
            <div class="creativity-title">
                <img src="../assets/images/demo/icons/pencil-icon.png">
                <h4>找接包方</h4>
            </div>
            <div class="creativity-info">
                <h4>找接包方</h4>
                <p>
                    答题过程中可以随时暂停，再次打开问卷，从上次暂停处继续答题。断点续答功能。
                </p>
            </div>
        </li>
        <li class="col-lg-4 col-md-4 col-sm-4">
            <div class="creativity-title">
                <img src="../assets/images/demo/icons/book-icon.png">
                <h4>找接包方</h4>
            </div>
            <div class="creativity-info">
                <h4>找接包方</h4>
                <p>
                    生成电子版问卷，直接填答，省去执行后期大量整理、录入工作，且自动标记执行时间、地址，审核变得一目了然。
                </p>
            </div>
        </li>
    </ul>
</div>