$fa-font-path: "../../../bower_components/font-awesome/fonts";
$navbar-cnigc-bg: rgba(0,0,0,.4);
$navbar-cnigc-color: #ffffff;
/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
@import "../base/navbar";
html,body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background: url(../../assets/images/demo/bg/5.jpg) no-repeat;
  background-size: cover;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  transform-origin: 0 0;
  text-shadow: 0 0 1px #000000;
  font-family: '微软雅黑';
}
body a, body a:hover,body a:focus,body a:active {
  color: #ffffff;
}
.navbar.navbar-cnigc {
  background-color: rgba(0,0,0,.4);
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    color: #ffffff;
  }
}
.navbar-nav > li:before {
  bottom: -1px;
}
/*.logo-text {
  display: inline-block;
  position: absolute;
  top: 0;
  margin: 0;
  left: 80px;
  font-size: 16px;
  color: white;
  height: 100%;
}
.logo-text .text-sub {
  font-size: 2px;
  vertical-align: middle;
  font-weight: normal;
  bottom: 0;
}
.collapse.navbar-collapse * {

}
.navbar.navbar-cnigc {
  min-height: 60px;
  background-color: rgba(0,0,0,.4);
  /!*box-shadow: 0 0 5px #000;*!/
  border-radius: 0;
  margin-bottom: 0;
  z-index: 100;
}
.navbar-cnigc .navbar-brand {
  height: 60px;
}
.navbar-cnigc .navbar-brand > img {
  position: relative;
  top: 50%;
  margin-top: -26px;
}
.navbar-nav > li > a:hover,.navbar-nav > li > a:focus,.navbar-nav > li > a:active,.navbar-nav > li > a.active {
  background-color: inherit;
}
.navbar-nav > li {
  position: relative;
}
.navbar-nav > li.active > a {
  color: #19A9E5;
}
.navbar-nav > li:before {
  display: inline-block;
  width: 100%;
  height: 0;
  background-color: #19A9E5;
  position: absolute;
  bottom: -1px;
  content: " ";
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.navbar-nav > li:hover:before,.navbar-nav > li:focus:before,.navbar-nav > li:active:before,.navbar-nav > li.active:before {
  height: 3px;
}
.navbar-nav > li > a.btn-success:active,.navbar-nav > li > a.btn-success:hover,.navbar-nav > li > a.btn-success:focus {
  background-color: #449d44;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
  }
  .navbar-nav > div > a.btn {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 20px 10px 50px;
  }
}*/
.cnigc-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/svg/cnigc.svg);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  opacity: .3;
  z-index: -1;
}
input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search]{
  background: transparent;
  border: none;
  width: 100%;
  font-size: 2.5rem;
  outline: none;
  margin: 0;
  box-shadow: none;
  position: relative;
}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]) {

}
.fit {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.underlines {
  position: relative;
}
.unfocused-line {
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
}
.focused-line {
  height: 2px;
  background: #ffffff;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale3d(0,1,1);
  transform: scale3d(0,1,1);
}
.input-container {
  margin: 40px 0;
}
#registerPanel .input-container {
  margin: 20px 0;
}
.input-content {
  position: relative;
}
.input-content.focused + .underlines > .focused-line {
  display: block;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: transform 0.25s;
  -moz-transition: transform 0.25s;
  -ms-transition: transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
}
.input-content.focused + .underlines > .unfocused-line {
  display: none;
}
.input-label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: rgba(255,255,255,.8);
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0;
}
.input-content.is-floated .input-label {
  color: #ffffff;
  -webkit-transform: translate3d(0, -75%, 0) scale(0.75);
  -moz-transform: translate3d(0, -75%, 0) scale(0.75);
  -ms-transform: translate3d(0, -75%, 0) scale(0.75);
  -o-transform: translate3d(0, -75%, 0) scale(0.75);
  transform: translate3d(0, -75%, 0) scale(0.75);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: transform 0.25s;
  -moz-transition: transform 0.25s;
  -ms-transition: transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
}
label input[type=checkbox].ebp, label input[type=radio].ebp {
  z-index: -100!important;
  width: 1px!important;
  height: 0!important;
}
input[type=checkbox].ebp, input[type=radio].ebp {
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
input[type=checkbox], input[type=radio] {
  margin: 4px 0 0;
  line-height: normal;
}
input[type=checkbox].ebp+.lbl, input[type=radio].ebp+.lbl {
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 20px;
  min-height: 18px;
  min-width: 18px;
  font-weight: 400;
  cursor: pointer;
}
input[type=checkbox].ebp+.lbl::before, input[type=radio].ebp+.lbl::before {
  cursor: pointer;
  font-family: fontAwesome;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  content: "\a0";
  background-color: transparent;
  border: 1px solid #ffffff;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  border-radius: 0;
  display: inline-block;
  text-align: center;
  height: 16px;
  line-height: 14px;
  min-width: 16px;
  margin-right: 1px;
  position: relative;
  top: -1px;
}
input[type=checkbox].ebp:checked+.lbl::before, input[type=radio].ebp:checked+.lbl::before {
  display: inline-block;
  content: '\f00c';
  box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 -15px 10px -12px rgba(0,0,0,.05),inset 15px 10px -12px rgba(255,255,255,.1);
}
.loginBtn {
  background: transparent;
  border: none;
  outline: none;
}
.loginBtn:hover {
  text-shadow: 0 0 10px #bfffaf;
}
.outer-container {
  margin: 0 auto;
  min-width: 350px;
  width: 27%;
  height: 100%;
  padding: 8% 0 12%;
  position: relative;
  -webkit-transition: all 0s ease-in-out .25s;
  -moz-transition: all 0s ease-in-out .25s;
  -ms-transition: all 0s ease-in-out .25s;
  -o-transition: all 0s ease-in-out .25s;
  transition: all 0s ease-in-out .25s;
}
.inner-container {
  min-height: 450px;
}
.outer-container.register-ui {
  width: 40%;
}
#loginPanel {
  opacity: 1;
}
#registerPanel {
  opacity: 0;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: -1;
}
#registerPanel,#loginPanel {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 1s ease .25s;
  -moz-transition: all 1s ease .25s;
  -ms-transition: all 1s ease .25s;
  -o-transition: all 1s ease .25s;
  transition: all 1s ease .25s;
}
.register-ui #registerPanel {
  opacity: 1;
  z-index: 1;
}
.register-ui #loginPanel {
  opacity: 0;
}
.inner-container,.cnigc-bg {
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}
.register-ui .inner-container,.register-ui .cnigc-bg {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector