<ct-navbar shadow="1"></ct-navbar>
<div class="slide-container">
    <div class="sidebar sidebar-dark mini">
        <div class="sidebar-inner scrollable">
            <div class="sidebar-nav">
                <ul>
                    <li class="nav-item" ui-sref-active-eq="active" ng-repeat="nav in navs">
                        <a ui-sref="{{nav.sref}}({{nav.params}})">
                            <div class="nav-icon">
                                <i class="fa fa-fw" ng-class="nav.iconClass"></i>
                            </div>
                            <div class="nav-title">{{nav.name}}</div>
                        </a>
                    </li>
                </ul>
                <div class="sidebar-toggle" ng-click="sidebar.toggle()">
                    <i class="ct-icon fa" ng-class="{'fa-angle-double-left': !sidebar.collapsed, 'fa-angle-double-right': sidebar.collapsed}"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container height-100" ui-view>
    </div>
</div>