<ct-navbar shadow="1"></ct-navbar>
<div class="slide-container">
    <div class="sidebar mini">
        <div class="sidebar-inner animated fadeInLeftLight">
            <div class="sidebar-nav">
                <ul>
                    <li class="nav-item active">
                        <a href>
                            <div class="nav-icon">
                                <i class="fa fa-fw fa-dashboard"></i>
                            </div>
                        </a>
                        <div class="nav-title">仪表盘</div>
                    </li>
                    <li class="nav-item" ng-repeat="i in [1,2,3,4,5,6,7,8]">
                        <a href>
                            <div class="nav-icon">
                                 <i class="fa fa-fw fa-tasks"></i>
                            </div>
                        </a>
                        <div class="nav-title">任务</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-container height-100 fade-in-up" ui-view>
    </div>
</div>