<div class="height-100 scrollable-y padding-15" style="background-color: #f0f3f4">
    <div class="row animated fadeInUpLight">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">我的项目</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <yao-easypie percent="20" track-color="#F15A24" bar-color="#EA4335"></yao-easypie>
                            <h3 class="text-center">项目1</h3>
                        </div>
                        <div class="col-sm-2">
                            <yao-easypie percent="40" effect="quad"></yao-easypie>
                            <h3 class="text-center">项目2</h3>
                        </div>
                        <div class="col-sm-2">
                            <yao-easypie percent="51" inner-color="#EA4335" track-color="#fff" bar-color="#34A853" effect="elastic"></yao-easypie>
                            <h3 class="text-center">项目3</h3>
                        </div>
                        <div class="col-sm-2">
                            <yao-easypie percent="60" inner-color="#000" track-color="#fff" bar-color="#13BDD1" effect="cubic"></yao-easypie>
                            <h3 class="text-center">项目4</h3>
                        </div>
                        <div class="col-sm-2">
                            <yao-easypie percent="74" bar-color="#E21E79" track-color="#FBBC05" effect="sin"></yao-easypie>
                            <h3 class="text-center">项目5</h3>
                        </div>
                        <div class="col-sm-2">
                            <yao-easypie percent="90" bar-color="#9B59B6"></yao-easypie>
                            <h3 class="text-center">项目6</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row animated fadeInUpLight">
        <div class="col-md-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">我的动态</h3>
                </div>
                <div class="panel-body">
                    <div class="timeline-container">
                        <div class="timeline-label">
                            <b>今天</b>
                        </div>
                        <div class="timeline-items">
                            <div class="timeline-item animated fadeInDownLight" style="animation-delay: .5s">
                                <div class="timeline-info">
                                    <div class="timeline-date">12:56 pm</div>
                                    <i class="timeline-indicator"></i>
                                </div>
                                <div class="timeline-content">
                                    <p>
                                        <b class="purple" style="font-size: 110%">yaoshining</b> 查看了 1 个项目
                                        <br />
                                        <i class="fa fa-hand-o-right"></i><a href> 点击查看...</a>
                                    </p>
                                </div>
                            </div>
                            <div class="timeline-item animated fadeInDownLight" style="animation-delay: .7s">
                                <div class="timeline-info">
                                    <div class="timeline-date">12:47 pm</div>
                                    <i class="timeline-indicator"></i>
                                </div>
                                <div class="timeline-content">
                                    <div>
                                        <b class="purple" style="font-size: 110%">yaoshining</b> 在项目
                                        <b class="aqua">yaoshining/project1</b> 中 添加了 项目成员
                                    </div>
                                    <div>
                                        <i class="fa fa-users"></i> yaoshining
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-item animated fadeInDownLight" style="animation-delay: .9s">
                                <div class="timeline-info">
                                    <div class="timeline-date">12:13 pm</div>
                                    <i class="timeline-indicator"></i>
                                </div>
                                <div class="timeline-content">
                                    <div>
                                        <b class="purple" style="font-size: 110%">yaoshining</b> 创建了项目
                                    </div>
                                    <div>
                                        <i class="fa fa-tasks"></i> project1
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-container">
                        <div class="timeline-label">
                            <b>昨天</b>
                        </div>
                        <div class="timeline-items animated fadeInDownLight">
                            <div class="timeline-item">
                                <div class="timeline-info">
                                    <div class="timeline-date">12:56 pm</div>
                                    <i class="timeline-indicator"></i>
                                </div>
                                <div class="timeline-content">
                                    <p>
                                        <b class="purple" style="font-size: 110%">yaoshining</b> 推送了新的
                                        <b class="aqua">yaoshining/project1</b> 的 项目 分支 ： <a href>master</a>
                                    </p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-info">
                                    <div class="timeline-date">12:47 pm</div>
                                    <i class="timeline-indicator"></i>
                                </div>
                                <div class="timeline-content">
                                    <div>
                                        <b class="purple" style="font-size: 110%">yaoshining</b> 在项目
                                        <b class="aqua">yaoshining/project1</b> 中 添加了 项目成员
                                    </div>
                                    <div>
                                        <i class="fa fa-users"></i> yaoshining
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-info">
                                    <div class="timeline-date">12:13 pm</div>
                                    <i class="timeline-indicator"></i>
                                </div>
                                <div class="timeline-content">
                                    <div>
                                        <b class="purple" style="font-size: 110%">yaoshining</b> 创建了项目
                                    </div>
                                    <div>
                                        <i class="fa fa-tasks"></i> project1
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-body">
                    <yao-clock color="#337ab7"></yao-clock>
                </div>
            </div>
        </div>
    </div>
</div>
