<div class="height-100">
    <div class="collaborate-sidebar">
        <div class="collaborate-nav-title">
            我的任务
        </div>
        <div class="collaborate-nav-list">
            <ul class="nav-list">
                <li class="active">
                    <a href><i class="fa fa-tasks fa-fw"></i>所有任务(0)</a>
                </li>
                <li>
                    <a href><i class="fa fa-clock-o fa-fw"></i>正在进行(0)</a>
                </li>
                <li>
                    <a href><i class="fa fa-check-circle-o fa-fw green"></i>已完成()</a>
                </li>
                <li>
                    <a href><i class="fa fa-eye fa-fw"></i>我关注的()</a>
                </li>
            </ul>
        </div>
        <hr style="border-bottom: 1px solid rgb(204,204,204);" />
        <div class="collaborate-nav-list">
            <ul class="nav-list">
                <li>
                    <a href><i class="fa fa-tasks fa-fw"></i>所有任务(0)</a>
                </li>
                <li>
                    <a href><i class="fa fa-clock-o fa-fw"></i>正在进行(0)</a>
                </li>
                <li>
                    <a href><i class="fa fa-check-circle-o fa-fw green"></i>已完成()</a>
                </li>
                <li>
                    <a href><i class="fa fa-eye fa-fw"></i>我关注的()</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="collaborate-content">
        任务列表
        <ul>
            <li>任务1</li>
            <li>任务2</li>
            <li>任务3</li>
            <li>任务4</li>
            <li>任务5</li>
            <li>任务6</li>
        </ul>
    </div>
</div>
