<div class="row padding-15">
    <div class="col-sm-6">
        <img src="../../../assets/images/demo/products/product02.jpg" width="100%" />
    </div>
    <div class="col-sm-6">
        <h4 style="font-weight: 400">忧德汽车模具零部件CAD模型库</h4>
        <div class="gray" style="margin-bottom: 20px">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="black">|</span>
            <span class="badge badge-primary">asdasd</span>
            <span class="badge badge-primary">asdasd</span>
            <span class="black">|</span>
            <span>浏览<b class="red">1154</b>次</span>
        </div>
        <p>
            用离线调查软件拍拍赚做陪同购物项目，以情景重现的方式记录产品购买过程，从自身需求和关注点出发，发现并记录具有吸引力的产品、产品设计元素或亮点，通过消费者持续的跟踪记录，发现新产品发展趋势。
        </p>
    </div>
    <div class="col-sm-12">
        <div>
            <h3 style="border-bottom: 1px solid #0074D9">
                <span class="badge bg-blue" style="border-radius: 0;vertical-align: bottom">冲击性能</span>
            </h3>
            <div>
                <img src="../assets/images/demo/products/property1.png" width="100%" />
            </div>
        </div>
        <div>
            <h3 style="border-bottom: 1px solid #0074D9">
                <span class="badge bg-blue" style="border-radius: 0;vertical-align: bottom">热导率</span>
            </h3>
            <div>
                <img src="../assets/images/demo/products/property2.png" width="100%" />
            </div>
        </div>
        <div style="margin-top: 20px;min-height: 300px" data-nq-tabset="" data-effect="from-top">
            <div data-nq-tab="">
                <span data-tab-heading=""><i class="fic fu-home"></i> 详细信息</span>
                <div style="padding-top: 15px;padding-bottom: 15px">用离线调查软件拍拍赚做陪同购物项目，以情景重现的方式记录产品购买过程，从自身需求和关注点出发，发现并记录具有吸引力的产品、产品设计元素或亮点，通过消费者持续的跟踪记录，发现新产品发展趋势。</div>
            </div>
            <div data-nq-tab>
                <span data-tab-heading><i class="fic fu-phone"></i> 下载记录</span>
                <div style="margin: 0 -15px">
                    <table class="table table-striped" style="margin-bottom: 0">
                        <thead>
                            <tr>
                                <th width="50%">附件</th>
                                <th width="20%">下载者</th>
                                <th width="30%">时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="i in [1,2,3,4,5]">
                                <td>全部文件</td>
                                <td>姚世宁</td>
                                <td>2015-09-18 15:45:21</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div data-nq-tab="">
                <span data-tab-heading=""><i class="fic fu-cog"></i> 意见反馈</span>
                <div>意见反馈</div>
            </div>
        </div>
    </div>
</div>