<ct-navbar type="fixed" theme="{{current.theme}}" animated></ct-navbar>
<div class="resources-header" ng-class="current.theme?'resources-header-'+current.theme:''">
    <ul class="resources-nav">
        <li ng-repeat="resource in resources" ng-class="{'active': $index === snapIndex}">
            <!--<img src="../assets/images/demo/bg/resources.jpg" height="60" /><br />-->
            <a href ng-click="$parent.snapIndex = $index" style="vertical-align: bottom">{{resource.name}}</a>
        </li>
    </ul>
    <!--<span class="resource-title">{{resources[snapIndex].name}}</span>-->
</div>
<div class="resources-content" yao-resize ng-style="resizeWithOffset(contentOffset)" notifier="resizeNotify()">
    <div snapscroll snap-index="snapIndex" snap-height="snapHeight" before-snap="beforeSnap(snapIndex)" after-snap="afterSnap()">
        <section ng-repeat="resource in resources">
            <!--<div ng-include="'app/components/home/carousel.tpl.html'"></div>-->
            <div class="repo-list">
                <div class="repo-item" ng-repeat="repo in resource.repos">
                    <div class="repo-item-content" ng-class="{'top': $index > 5}">
                        <!--ng-style="{'background-image': 'url('+repo.bgImg+')'}"-->
                        <img class="repo-item-img shadow-z-1" ng-src="{{repo.bgImg}}"
                             width="100%" />
                        <div class="repo-title text-center">{{repo.name}}</div>
                    </div>
                </div>
                <div class="repo-item">
                    <div class="repo-item-content top" ui-sref="resources.repo({repoId: resource.id})">
                        <img class="repo-item-img shadow-z-1" width="100%" src="../assets/images/demo/bg/more.jpg" />
                        <div class="repo-title text-center">查看更多...</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
