<ct-navbar shadow="2"></ct-navbar>
<div>
    <div class="search-bar">
        <div class="col-md-9 search-content">
            <div class="search-inputs-wrap">
                <input type="text" class="search-input" id="searchInputText" placeholder="关键字" />
                <div class="select-search-wrap category-search">
                    <select name="staticSelectModel" nq-select qo-placeholder="类 别"
                            qo-filterable="false" ng-model="staticSelectModel"
                            qo-clear-icon="<span class='clear-icon fa fa-times red'></span>">
                        <option>找项目</option>
                        <option>找接包方</option>
                    </select>
                </div>
                <div class="select-search-wrap location-search">
                    <select name="staticSelectModel" nq-select qo-placeholder="区 域"
                            qo-filter-text="按区域搜索..." qo-no-match="无查询结果..."
                            ng-model="staticSelectModel"
                            qo-clear-icon="<span class='clear-icon fa fa-times red'></span>">
                        <option>北京</option>
                        <option>上海</option>
                        <option>天津</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3 searchsubmit-wrapper">
            <button class="btn btn-success submit-main-button">
                <i class="fa fa-search"></i>
                搜 索
            </button>
        </div>
    </div>
    <div style="margin: 50px 20px">
        <div class="card horizontal-card ct-catalog-card" style="height: 400px;margin-bottom: 50px" ng-repeat="i in [1,2]">
            <div class="card-brand ct-catalog-card-brand">
                <div class="brand-content">
                    <!--<img src="../../../assets/images/demo/icons/Headphone.png">-->
                    <div class="brand-image" style="background-image: url('../assets/images/demo/icons/Headphone.png')"></div>
                    <div class="brand-text">
                        <h2 class="brand-title">找项目</h2>
                        <p>最好的设计 一个不留</p>
                        <a ui-sref=".projects" class="brand-link">进入专区
                        <span class="fa-stack fa-fw orange" style="width: 1em;height: 1em;line-height: 1em">
                          <i class="fa fa-circle fa-stack-1x"></i>
                          <i class="fa fa-angle-right fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-content height-100 bg-white">
                <div class="ct-catalog-card-header">
                    <h2 class="ct-catalog-card-title" style="font-size: 30px">找项目<acme-malarkey></acme-malarkey></h2>
                </div>
                <div class="ct-catalog-card-body">
                    <div class="ct-ads pull-right">
                        <div class="col-md-6">
                            <div class="ct-ad" style="background-image: url('../assets/images/demo/ads/1.jpg')">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="ct-ad" style="background-image: url('../assets/images/demo/ads/2.jpg')">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="ct-ad" style="background-image: url('../assets/images/demo/ads/3.jpg')">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="ct-ad" style="background-image: url('../assets/images/demo/ads/4.jpg')">
                            </div>
                        </div>
                    </div>
                    <div class="ct-catalogs pull-left">
                        <div class="ct-catalogs-group">
                            <ul class="ct-first-catalogs">
                                <li>
                                    <a href>Logo</a>
                                    <ul class="ct-second-catalogs">
                                        <li>
                                            <a href>网站Logo</a>
                                        </li>
                                        <li>
                                            <a href>公司Logo</a>
                                        </li>
                                        <li>
                                            <a href>网站Logo</a>
                                        </li>
                                        <li>
                                            <a href>公司Logo</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href>VI</a>
                                    <ul class="ct-second-catalogs">
                                        <li>
                                            <a href>企业VI设计</a>
                                        </li>
                                        <li>
                                            <a href>品牌VI设计</a>
                                        </li>
                                        <li>
                                            <a href>品牌VI设计</a>
                                        </li>
                                        <li>
                                            <a href>企业VI设计</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href>包装</a>
                                    <ul class="ct-second-catalogs">
                                        <li>
                                            <a href>食品包装</a>
                                        </li>
                                        <li>
                                            <a href>化妆品包装</a>
                                        </li>
                                        <li>
                                            <a href>食品包装</a>
                                        </li>
                                        <li>
                                            <a href>化妆品包装</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href>宣传</a>
                                    <ul class="ct-second-catalogs">
                                        <li>
                                            <a href>画册设计</a>
                                        </li>
                                        <li>
                                            <a href>海报设计</a>
                                        </li>
                                        <li>
                                            <a href>画册设计</a>
                                        </li>
                                        <li>
                                            <a href>海报设计</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="ct-catalogs-group">
                            <ul class="ct-first-catalogs">
                                <li>
                                    <a href>广告</a>
                                    <ul class="ct-second-catalogs">
                                        <li>
                                            <a href>广告牌设计</a>
                                        </li>
                                        <li>
                                            <a href>易拉宝设计</a>
                                        </li>
                                        <li>
                                            <a href>广告牌设计</a>
                                        </li>
                                        <li>
                                            <a href>易拉宝设计</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href>卡片</a>
                                    <ul class="ct-second-catalogs">
                                        <li>
                                            <a href>名片设计</a>
                                        </li>
                                        <li>
                                            <a href>请柬设计</a>
                                        </li>
                                        <li>
                                            <a href>名片设计</a>
                                        </li>
                                        <li>
                                            <a href>请柬设计</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href>PPI</a>
                                    <ul class="ct-second-catalogs">
                                        <li>
                                            <a href>传单设计</a>
                                        </li>
                                        <li>
                                            <a href>DM单设计</a>
                                        </li>
                                        <li>
                                            <a href>传单设计</a>
                                        </li>
                                        <li>
                                            <a href>DM单设计</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="ct-catalogs-group">
                            <ul class="ct-first-catalogs">
                                <li>
                                    <a href>推荐</a>
                                    <ul class="ct-second-catalogs">
                                        <li>
                                            <a href>商标注册</a>
                                        </li>
                                        <li>
                                            <a href>商标注册</a>
                                        </li>
                                        <li>
                                            <a href>商标注册</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card horizontal-card ct-catalog-card" style="height: 400px;margin-bottom: 50px">
            <div class="card-brand ct-catalog-card-brand">
                <div class="brand-content">
                    <!--<img src="../../../assets/images/demo/icons/Headphone.png">-->
                    <div class="brand-image" style="background-image: url('../assets/images/demo/icons/Box-Notes.png')"></div>
                    <div class="brand-text">
                        <h2 class="brand-title">找接包方</h2>
                        <p>最好的设计 一个不留</p>
                        <a ui-sref=".projects" class="brand-link">进入专区
                        <span class="fa-stack fa-fw orange" style="width: 1em;height: 1em;line-height: 1em">
                          <i class="fa fa-circle fa-stack-1x"></i>
                          <i class="fa fa-angle-right fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-content height-100 bg-white">
                <div class="ct-catalog-card-header">
                    <h2 class="ct-catalog-card-title" style="font-size: 30px">找接包方</h2>
                </div>
                <div class="ct-catalog-card-body">
                    <div class="ct-ads pull-right">
                        <div class="col-md-6">
                            <div class="ct-ad" style="background-image: url('../assets/images/demo/ads/1.jpg')">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="ct-ad" style="background-image: url('../assets/images/demo/ads/2.jpg')">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="ct-ad" style="background-image: url('../assets/images/demo/ads/3.jpg')">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="ct-ad" style="background-image: url('../assets/images/demo/ads/4.jpg')">
                            </div>
                        </div>
                    </div>
                    <div class="ct-catalogs pull-left">
                        <div class="ct-catalogs-group">
                            <ul class="ct-first-catalogs">
                                <li>
                                    <a href>Logo</a>
                                    <ul class="ct-second-catalogs">
                                        <li>
                                            <a href>网站Logo</a>
                                        </li>
                                        <li>
                                            <a href>公司Logo</a>
                                        </li>
                                        <li>
                                            <a href>网站Logo</a>
                                        </li>
                                        <li>
                                            <a href>公司Logo</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href>VI</a>
                                    <ul class="ct-second-catalogs">
                                        <li>
                                            <a href>企业VI设计</a>
                                        </li>
                                        <li>
                                            <a href>品牌VI设计</a>
                                        </li>
                                        <li>
                                            <a href>品牌VI设计</a>
                                        </li>
                                        <li>
                                            <a href>企业VI设计</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href>包装</a>
                                    <ul class="ct-second-catalogs">
                                        <li>
                                            <a href>食品包装</a>
                                        </li>
                                        <li>
                                            <a href>化妆品包装</a>
                                        </li>
                                        <li>
                                            <a href>食品包装</a>
                                        </li>
                                        <li>
                                            <a href>化妆品包装</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href>宣传</a>
                                    <ul class="ct-second-catalogs">
                                        <li>
                                            <a href>画册设计</a>
                                        </li>
                                        <li>
                                            <a href>海报设计</a>
                                        </li>
                                        <li>
                                            <a href>画册设计</a>
                                        </li>
                                        <li>
                                            <a href>海报设计</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="ct-catalogs-group">
                            <ul class="ct-first-catalogs">
                                <li>
                                    <a href>广告</a>
                                    <ul class="ct-second-catalogs">
                                        <li>
                                            <a href>广告牌设计</a>
                                        </li>
                                        <li>
                                            <a href>易拉宝设计</a>
                                        </li>
                                        <li>
                                            <a href>广告牌设计</a>
                                        </li>
                                        <li>
                                            <a href>易拉宝设计</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href>卡片</a>
                                    <ul class="ct-second-catalogs">
                                        <li>
                                            <a href>名片设计</a>
                                        </li>
                                        <li>
                                            <a href>请柬设计</a>
                                        </li>
                                        <li>
                                            <a href>名片设计</a>
                                        </li>
                                        <li>
                                            <a href>请柬设计</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href>PPI</a>
                                    <ul class="ct-second-catalogs">
                                        <li>
                                            <a href>传单设计</a>
                                        </li>
                                        <li>
                                            <a href>DM单设计</a>
                                        </li>
                                        <li>
                                            <a href>传单设计</a>
                                        </li>
                                        <li>
                                            <a href>DM单设计</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="ct-catalogs-group">
                            <ul class="ct-first-catalogs">
                                <li>
                                    <a href>推荐</a>
                                    <ul class="ct-second-catalogs">
                                        <li>
                                            <a href>商标注册</a>
                                        </li>
                                        <li>
                                            <a href>商标注册</a>
                                        </li>
                                        <li>
                                            <a href>商标注册</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<ct-footer></ct-footer>
