<style shim-shadow>
    .ct-list {
        padding: 0;
        margin-top: 0;
        height: 100%;
        position: relative;
    }
    .ct-catalog-nav {
        background-color: #3A3A3A;
        /*background-color: #3A3A3A;*/
        width: 280px;
        min-height: 100%;
        padding: 15px 0 50px 15px;
    }
    .ct-catalog-nav-header {
        height: 40px;
        line-height: 40px;
        background-color: #19A9E5;
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .ct-catalog-nav-title {
        font-weight: 400;
        height: 100%;
        padding-left: 15px;
    }
    .ct-catalog-nav-content {
        width: 180px;
        margin: 0 auto;
        color: rgba(255,255,255,.5);
        font-weight: 400;
        font-size: 12px;
    }
    .ct-nav-item {
        height: 25px;
        line-height: 25px;
    }
    .ct-nav-item:hover,.ct-nav-item:hover a {
        color: #ffffff;
    }
    .ct-nav-group-title {
        margin-bottom: 10px;
        margin-left: -10px;
    }
    .ct-nav-group {
        padding: 15px 0;
    }
    ul.layouts-list {
        position: absolute;
        right: 0;
        list-style: none;
    }
    li.layout-option {
        display: inline-block;
        margin-left: 3px;
        font-size: 14px;
        cursor: pointer;
        color: #CCCCCC;
    }
    .entry-title {
        margin-bottom: 40px;
        font-size: 24px;
        font-weight: normal;
        color: #3A3A3A;
    }
    .layout-option.activeLayout {
        color: #3A3A3A;
    }
    .post {
        margin: 10px 0 20px;
    }
    .post-image {
        margin-right: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .post-title {
        font-size: 14px;
        max-width: 90%;
    }
    .post-title > a {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        color: #555;
        text-decoration: none;
    }
    .post-content > div {
        margin-bottom: 3px;
    }
</style>
<ct-navbar shadow="1" theme="inverse"></ct-navbar>
<div class="ct-list">
    <div yao-sticky stick-in="mainContainer" class="ct-catalog-nav pull-left" ng-controller="ProjectNavController">
        <div class="white ct-catalog-nav-header">
            <div class="ct-catalog-nav-title">
                导航
            </div>
        </div>
        <!-- Nested node template -->
        <script type="text/ng-template" id="nodes_renderer.html">
            <div ui-tree-handle class="ct-nav-item">
                <a ng-if="item.items && item.items.length > 0" ng-click="toggle(this)">
                    <i class="fa fa-fw" ng-class="{'fa-plus-square-o': collapsed,'fa-minus-square-o': !collapsed}"></i>
                </a>
                <i class="fa fa-fw fa-angle-right" ng-if="!item.items || item.items.length <= 0"></i>
                {{item.title}}
            </div>
            <ol ui-tree-nodes ng-model="item.items" ng-class="{hidden: collapsed}">
                <li ng-repeat="item in item.items" ui-tree-node data-collapsed="true" ng-include="'nodes_renderer.html'">
                </li>
            </ol>
        </script>
        <div class="ct-catalog-nav-content">
            <div class="ct-nav-group animated fadeInDownLight">
                <div class="ct-nav-group-title"><i class="fa fa-sort fa-fw"></i> 排序</div>
                <div ui-tree class="tree-theme-1" data-drag-enabled="false">
                    <ol ui-tree-nodes ng-model="sortConditions">
                        <li ng-repeat="item in sortConditions" ui-tree-node data-collapsed="true" ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>
            </div>
            <div class="ct-nav-group animated fadeInDownLight" style="animation-delay: .3s">
                <div class="ct-nav-group-title"><i class="fa fa-clone fa-fw"></i> 按类别查询</div>
                <div ui-tree class="tree-theme-1" data-drag-enabled="false">
                    <ol ui-tree-nodes ng-model="catalogs">
                        <li ng-repeat="item in catalogs" ui-tree-node data-collapsed="true" ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>
            </div>
            <div class="ct-nav-group animated fadeInDownLight" style="animation-delay: .6s">
                <div class="ct-nav-group-title"><i class="fa fa-clock-o fa-fw"></i> 按发布时间查询</div>
                <div ui-tree class="tree-theme-1" data-drag-enabled="false">
                    <ol ui-tree-nodes ng-model="catalogs">
                        <li ng-repeat="item in dateConditions" ui-tree-node data-collapsed="true" ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="pull-right" style="width: calc(100% - 280px)" ng-controller="ProjectListController as vm">
        <div style="padding: 15px 50px;margin-bottom: 50px" yao-pageable yao-pageable-model="vm.projects">
            <div style="position: relative">
                <ul class="layouts-list">
                    <li class="layout-option" ng-repeat="l in vm.layouts" ng-class="{'activeLayout': vm.layout === l}">
                        <i class="fa fa-fw" ng-class="'fa-'+l.name" ng-click="vm.swithLayout(l)"></i>
                    </li>
                </ul>
                <h2 class="entry-title">
                    项目
                </h2>
            </div>
            <div ng-if="vm.layout.type === 'table'" class="fade-in-up">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>项目名称</th>
                        <th>项目描述</th>
                        <th>发布日期</th>
                        <th>发布日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="project in $currentRows">
                        <td>{{project.name}}</td>
                        <td>{{project.description}}</td>
                        <td>{{project.publishTime | date:'yyyy-MM-dd'}}</td>
                        <td>{{project.otherTime | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    </tbody>
                </table>
                <!--<div class="panel panel-default" data-nq-pageable="vm.projects"-->
                     <!--data-qo-alias="projectsTable"-->
                     <!--data-qo-pageable-model="vm.projects"-->
                     <!--data-qo-selectable="true"-->
                     <!--data-on-refresh="tableScroller.refresh();">-->
                    <!--<div class="panel-heading clearfix">-->
                        <!--<div class="pull-left padded-l">-->
                            <!--<button type="button" class="btn btn-sm btn-info" ng-click="projectsTable.refresh()"><i class="fa fa-refresh"></i> 刷新</button>-->
                        <!--</div>-->
                        <!--<div class="pull-left padded-l">-->
                            <!--<button type="button" class="btn btn-sm btn-primary" data-nq-show-insert=""><i class="fa fa-plus"></i> 添加</button>-->
                        <!--</div>-->
                        <!--<div class="pull-left padded-l">-->
                            <!--<button type="button" class="btn btn-sm btn-danger" ng-click="projectsTable.removeRows()"><i class="fa fa-trash"></i> 删除</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="panel-body table-responsive" data-nq-scroll-->
                         <!--data-qo-max-height="350px" data-qo-bar-offset="40"-->
                         <!--data-bar-model="tableScroller" style="overflow:hidden;padding: 3px">-->
                        <!--<table class="table table-bordered bg-white table-hover">-->
                            <!--<thead class="nq-fix-table-scroll">-->
                                <!--<tr style="background: transparent">-->
                                    <!--<th style="background: transparent" colspan="2" data-nq-column-sort="name" data-use-template="true">项目名称</th>-->
                                    <!--<th style="background: transparent" class="col-xs-2" data-nq-column-sort="description" data-use-template="true">项目描述</th>-->
                                    <!--<th style="background: transparent" class="col-xs-3">发布日期</th>-->
                                    <!--<th style="background: transparent" class="col-xs-2">发布日期</th>-->
                                    <!--<th style="background: transparent" class="col-xs-1">其他</th>-->
                                <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody class="flattened">-->
                                <!--<tr data-pageable-repeat="project in vm.projects track by $index">-->
                                    <!--<td style="width: 48px"><img data-fall-back-bg ng-src="{{project.imageUrl}}" width="50" height="50" /></td>-->
                                    <!--<td>{{project.name}}</td>-->
                                    <!--<td>{{project.description}}</td>-->
                                    <!--<td>{{project.publishTime | date:'yyyy-MM-dd'}}</td>-->
                                    <!--<td>{{project.otherTime | date:'yyyy-MM-dd'}}</td>-->
                                    <!--<td>......</td>-->
                                <!--</tr>-->
                            <!--</tbody>-->
                            <!--<tfoot class="nq-fix-table-scroll">-->
                                <!--<tr style="background: transparent">-->
                                    <!--<th style="background: transparent" colspan="2" data-nq-column-sort="name" data-use-template="true">项目名称</th>-->
                                    <!--<th style="background: transparent" class="col-xs-2" data-nq-column-sort="description" data-use-template="true">项目描述</th>-->
                                    <!--<th style="background: transparent" class="col-xs-3">发布日期</th>-->
                                    <!--<th style="background: transparent" class="col-xs-2">发布日期</th>-->
                                    <!--<th style="background: transparent" class="col-xs-1">其他</th>-->
                                <!--</tr>-->
                            <!--</tfoot>-->
                        <!--</table>-->
                    <!--</div>-->
                    <!--<div class="panel-footer clearfix">-->
                        <!--<div class="row">-->
                            <!--<div class="col-sm-6">-->
                                <!--&lt;!&ndash;add data-nq-pageable-results directive where you want and how many you want&ndash;&gt;-->
                                <!--<div data-nq-pageable-results></div>-->
                            <!--</div>-->
                            <!--<div class="col-sm-6">-->
                                <!--&lt;!&ndash;add nq-pagination directive where you want and how many you want&ndash;&gt;-->
                                <!--<div data-nq-pagination class="pull-right no-margin"></div>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--&lt;!&ndash;here is nq-pageable-template for edit or new&ndash;&gt;-->
                    <!--<div data-nq-pageable-template="" data-name="contactForm" ng-form="" data-alias="contact" data-on-change="panelTitle = contact.firstname + ' ' + contact.lastname" ng-submit="$save()" style="max-height:100%; overflow:hidden; overflow-y:auto;" nq-validate-form="">-->
                        <!--&lt;!&ndash;You are not able to load your content via ng-include. However, I think this way may be a best practice &ndash;&gt;-->
                        <!--<div ng-include="" data-src="'/templates/contactform.html'">-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div ng-if="vm.layout.type === 'list'">
                <div class="post-container">
                    <div class="post animated fadeInRightLight" ng-style="{animationDelay: ($index+1)/10+'s'}" ng-class="{card: raised}" ng-repeat="project in $currentRows" ng-mouseenter="raised = true" ng-mouseleave="raised = false">
                        <!--<img src="../assets/images/demo/icons/download%20box%20seule.png" width="50" />-->
                        <div class="pull-left post-image" squarify ng-style="{'backgroundImage': 'url('+project.imageUrl+')'}">
                        </div>
                        <div class="post-content">
                            <div class="post-title">
                                <a href>{{project.name}}</a>
                            </div>
                            <div>{{project.publishTime | date:'yyyy-MM-dd'}} / {{project.otherTime | date:'yyyy-MM-dd'}}</div>
                            <div style="color: #999">{{project.description}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="pager">
                <li><a href="javascript:void(0)" yao-pageable-previous>上一页</a></li>
                <li><a href="javascript:void(0)" yao-pageable-next>下一页</a></li>
            </ul>
        </div>
        <hr />
        <ct-footer></ct-footer>
    </div>
</div>
