$sidebar-bg: #293038 !default;
$sidebar-nav-color: #fff !default;
$sidebar-mini-width: 80px;
.sidebar {
  float: left;
  height: 100%;
  background-color: $sidebar-bg;
}
.sidebar-inner {
  height: 100%;
}
.sidebar.mini {
  width: $sidebar-mini-width;
  font-size: 12px;
  & ~ .main-container {
    margin-left: $sidebar-mini-width;
  }
}
.sidebar-nav > ul {
  padding: 0;
  list-style: none;
}
.nav-item {
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  &:hover {
    background-color: #37424f;
  }
  &.active {
    background-color: #0099cc;
  }
}
.nav-icon{
  color: $sidebar-nav-color;
  .sidebar.mini & {
    font-size: 1.5em;
  }
}
.nav-title {
  color: rgba($sidebar-nav-color,.8);
}
.nav-brand {
  position: relative;
}