.padding-15 {
  padding: 15px;
}
.height-100 {
  height: 100%;
}
.height-50 {
  height: 50%;
}
.scrollable {
  overflow: auto;
}
.scrollable-y {
  overflow-x: hidden;
  overflow-y: auto;
}
.scrollable-x {
  overflow-x: auto;
  overflow-y: hidden;
}